* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
}
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Roboto:wght@400;700&display=swap');
body {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    width: 100vw;
    min-height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
}

.mobile_image{
    width: 100%;
}
.desktop_backgound_image{
    display: none;
}
.mobile_background_image{
    display: block;
}
.mobile_background_image img{
    width: 100%;
}
.text_container{
    padding: 2rem 1.5rem;
    position: relative;
}
#title{

    padding: 1rem 0rem;
    font-size: 700;
}
#title_description{
    padding: 1.5rem 0rem;
    font-size: 1em;
}
.list_icons{

    padding: 0.5rem 0rem;
    display: flex;
}
.list_icons img{

    margin-right: 1rem;
}
label{
    display: block;
    padding-bottom: 0.5rem;
}
.emailInputField{
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--Grey);
    width: 100%;   
    cursor: pointer;

}
#emailError{
    position: absolute;
     right: 40px;
    top: 62%;
    color: var(--Tomato);
    font-size: 0.75em;
}
.placeholder-red::placeholder {
    color: #ff6666;
  }
.subscribe_button{
    margin: 1.5rem 0rem; 
    width: 100%;
    background-color: var(--Dark-Slate-Grey);
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    color: var(--White);
    font-size: 1em;
    border: none;
}
.subscribe_button:hover{
    background-color: var(--Tomato);
    box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
    -webkit-box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
    -moz-box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
    cursor: pointer;
}

.card_container{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    min-height: 100vh;
    text-align: left;
    padding: 2rem;
}
.card_container img{
    width: 15%;
    margin-top: 8rem;
}
#thanks_for_subscribing_text{

    font-size: 2.25em;
    font-weight: 700;
    padding: 2rem 0rem;
}
#description{
    line-height: 1.25rem;
}
#Dimiss_Button{
    margin-top: 8rem;
    cursor: pointer;
}
#Dismiss_Button{
    background-color: var(--Tomato);
    box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
-webkit-box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
-moz-box-shadow: 0px 31px 23px -20px rgba(255,98,87,0.55);
    cursor: pointer;
}

@media(min-width:25em){
    #emailError{
        top: 60%;
    }
}
@media(min-width:90em){

    body{
        background-color: var(--Charcoal-Grey);
        display: grid;
        place-content: center;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        background-color: var(--White);
        padding: 1rem;
        border-radius: 20px;
        width: 55vw;
    }
    .mobile_image{
        width: 40%;
    }
    .mobile_background_image{
        display: none;
    }
    .desktop_backgound_image{
        display: block;
    }
    .desktop_backgound_image img{
        width: 100%;
    }
    .middle_section{
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .text_container{
        padding: 0rem 3rem;
    }
    #title{
        font-size: 3rem;
    }
    #title_description {
     padding: 0rem 0rem 1rem 0rem; 
     font-size: 0.95em;
    }
    #emailError{
         right: 60px;
        top: 62%;
    }
    .card_container{

        display: none;
        justify-content: center;
        min-height: 20rem;
        width: 22rem;
        background-color: var(--White);
        padding: 1rem 2rem;
        border-radius: 20px;
    }
    .card_container img{
        width: 15%;
        margin-top: 0rem;
    }
    #thanks_for_subscribing_text{
    
        font-size: 2.25em;
        font-weight: 700;
        padding: 0.75rem 0rem;
    }
    #description{
        line-height: 1.25rem;
        font-size: 0.75em;
        font-weight: 400;
        color: black;
    }
    #Dimiss_Button{
        cursor: pointer;
        margin-top: 1rem;
    }
}